{% extends 'admin.html.twig' %}

{% block title %}Nouvelle catégorie - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col mb-4">
            <h1>Créer une nouvelle catégorie</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            {{ include('dashboard/category/_form.html.twig') }}
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <a href="{{ path('category_index') }}"><i class="fal fa-long-arrow-left me-1"></i>Retour</a>
        </div>
    </div>
</div> 
{% endblock %}
