{% extends 'admin.html.twig' %}

{% block title %}Nouveau partenaire{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col mb-4">
            <h1>Créer un nouveau partenaire</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    {{ include('dashboard/partners/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <a href="{{ path('partners_index') }}"><i class="fal fa-long-arrow-left me-1"></i>Retour</a>
        </div>
    </div>
</div> 
{% endblock %}
