{% extends 'admin.html.twig' %}

{% block title %}Modifier un emplacement - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col mb-4">
            <h1>Modifier un emplacement</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    {{ include('dashboard/venue/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <a href="{{ path('venue_index') }}"><i class="fal fa-long-arrow-left me-1"></i>Retour</a>
        </div>
    </div>
</div>
{% endblock %}
