<form class="d-inline" method="post" action="{{ path('page_delete', {'id': page.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cet élément ? Cette action est irréversible !');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.id) }}">
    <button class="btn btn-outline-danger"><i class="fal fa-trash-alt"></i></button>
</form>
