{% extends 'admin.html.twig' %}

{% block title %}New ContestEntry{% endblock %}

{% block body %}
    <h1>Create new ContestEntry</h1>

    {{ include('dashboard/contest_entry/_form.html.twig') }}

    <a href="{{ path('contest_entry_index') }}">back to list</a>
{% endblock %}
