<form method="post" action="{{ path('contest_option_delete', {'id': contest_option.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contest_option.id) }}">
    <button class="btn">Delete</button>
</form>
